# Don't track content of these folders
 Praktikum 1/x64/
 Praktikum 2/x64/
 Praktikum 3/x64/
 Praktikum 4/x64/
 Praktikum 5/x64/
 Praktikum 6/x64/
 Praktikum 7/x64/
 Praktikum 8/x64/
 Praktikum 9/x64/
 Praktikum 10/x64/
 Praktikum 11/x64/
 Task 2/x64/
 x64/



# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.tlog
*.log
*.lastbuildstate
*.obj
*.iobj
*.pdb
*.ipdb
*.opendb


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

